
h1{
    font-size: 25px;
    color: #D3D3D3;
    margin-top: 35px;
}

.Navigation{
width: 716px;
display: flex;
flex-direction: row;
justify-content: space-around;
font-size: 20px;
color: #D3D3D3;
margin-top: 35px;
}

.Header-container{
    display:flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 55px;
    background-color: #5B5551;
    
}

.center-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 1200px;
}

.Icons{
width: 90px;
display: flex;
align-items: center;
justify-content: space-around;
margin-top: 16px;
}

a.navLink:link {
    color: #D3D3D3;
    text-decoration: none;
  }
  
  /* visited link */
  a.navLink:visited {
    color: #D3D3D3;
    text-decoration: none;
  }
  
  /* mouse over link */
  a.navLink:hover {
    color: #D3D3D3;
    text-decoration: none;
  }
  
  /* selected link */
  a.navLink:active {
    color: #D3D3D3;
    text-decoration: none;
  }
